
  body {
    background-color: #f3f3f3;
  }
  
      
    header {
      background-color: black;
      padding: 20px;
      position: fixed;
      width: 100%;
      top: 0;
     
    }
      
   

  
  header h1 {
    
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px rgb(58, 216, 44);
    color: lightgoldenrodyellow;
    float: left;
    font-weight: bold;
    font-size: xx-large;
  }

  header nav {
    float: right;
    padding: 0 30px;
  }

  header nav ul li {
    display: inline-block;
    padding: 0 10px;
    font-size: 15px;
  }
  header nav ul li a {
    text-decoration: none;
    color: lightgoldenrodyellow;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(58, 216, 44);
    font-size:medium;
  }

  #top1 {
 padding: 100px;
margin: 50px;
text-align: center;
  }

  #top1 h2 {
    text-shadow: 2px 2px lightgreen;
    color: black;
    font-weight: bold;
    font-size: x-large;
    padding: 20px;
  }

  
#para {
  text-shadow: 2px 2px lightgreen;
    color: black;
    font-weight: bold;
    font-size: x-large;
    padding: 20px;
    text-align: center;
}

#unorder {
text-align: center;
text-shadow: 2px 2px lightgreen;
    color: black;
    font-weight: bold;
    font-size: large;
  padding: 10px;
  
}
  
  #top2 {
    padding: 20px;
   margin: 20px;
   
     }
     
#top2 h2 {

  text-shadow: 2px 2px lightgreen;
  color: black;
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
  margin-bottom: 5px;

}
  #top2 h1 {

    text-shadow: 2px 2px lightgreen;
    color: black;
    font-weight: bold;
    font-size: x-large;
    padding: 15px;
    margin-bottom: 5px;

  }

  
  
  #top3 {

  padding: 40px;
  margin: 5px;
  }

  #top3 h2 {

    text-shadow: 2px 2px lightgreen;
  color: black;
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
  margin-bottom: 30px;
  }

  #middle {

text-align: right;
padding: 40px;
  
  }
  
  #middle h2 {
    text-shadow: 2px 2px lightgreen;
    color: black;
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
    margin-bottom: 30px;
  }

  #middle img {

    width: 400px;
  }
#bottom {

  padding: 20px;
  margin: 20px;
}
  #bottom h2  {

    text-shadow: 2px 2px lightgreen;
    color: black;
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
    margin-bottom: 30px;
  }

  #bottom h3 {

    text-shadow: 2px 2px lightgreen;
    color: black;
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
    margin-bottom: 30px;

  }
#small { 
padding: 20px;
  
}

  footer {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Stalinist One', cursive;
   
    
    background-color: black;
    margin-top: 150px;
    padding: 20px;
    
  } 
#footer {
  text-shadow: 2px 2px rgb(243, 250, 242);
  color: rgb(92, 102, 100);
  
  font-weight: bold;
  font-size:large;
  text-align: left;
}

footer h3 {
  text-shadow: 2px 2px rgb(243, 250, 242);
  color: rgb(92, 102, 100);
  
  font-weight: bold;
  font-size:15px;
  text-align: right;
}
  table ,
  th ,
  td{
margin-top: 200px;
border: 3px solid white;
background-color: black;
color: lightgreen;
text-shadow:1px 1px lightyellow;
font-size: x-large;
}

/* Sales page */




#cookiesShop{
padding: 50px;
 margin-top: 15%;
  margin-left: 25%;
  text-align: center;
}

#foot {

  margin-top: 195px;
}

#footer1 {

  text-shadow: 2px 2px rgb(243, 250, 242);
  color: rgb(92, 102, 100);
  
  font-weight: bold;
  font-size:large;
  text-align: left;

}

#add-store{


  text-align: center;
}

#legend {


  padding: 30px;
  font-size: xx-large;


}

button{

  background-color: lightgreen;
  font-size: 12px;
 
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 2px 2px;
  cursor: pointer;
}


#body { 


  background-image: url('../img/coks.jpg');
  
    margin-top: 55px;
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;

}

#fl {

  font-weight:bolder;
  font-size:x-large;

}
